*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

/* commun */
html {
    scroll-behavior: smooth;
}

a {
    color: #aaa;
}

p {
    text-align: justify;
}

/* classes */
.header {
    display: flex;
    height: 4rem;
    line-height: 3rem;
    padding: .5rem;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.title {
    flex-basis: 20%;
    padding-left: 1rem;
}

.navBar {
    flex-basis: 80%;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none inside;
    padding-right: 2rem;
}

.link {
    padding: 1.5rem 1rem;
}

.link:hover {
    background-color: #222;
    transition: all .25s;
}

.titreAccueil {
    height: 25rem;
    line-height: 24rem;
    text-align: center;
    padding: auto;
    background: transparent url(../images/motoroute.jpg) center no-repeat;
    color: #000;
    font-size: 4rem;
    -webkit-text-stroke: .1px white;
}

#histoire {
    margin-bottom: 1rem;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.histoireMoto {
    padding: 2rem 3rem;
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 2.5rem 25%;
    box-shadow: 0px 0px 2px black;
}

.old {
    background-color: black;
    width: auto;
    padding: 2rem 0;
    box-shadow: 0px 0px 10px 5px black;
}

#ancien {
    text-align: center;
    color: #fff;
    text-decoration: underline;
}

.ancienneMotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.ancienneMoto {
    padding: 1rem;
    transition: all .2s;
}

.imgMoto {
    max-height: 15rem;
    width: auto;
    border-radius: 1rem;
}

.marque {
    color : #fff;
    text-align: center;
    font-size: 20px
}

.modele {
    color: #fff;
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
    margin-bottom: .5rem;
}

.cc {
    text-align: right;
    color: #fff;
}

.annee {
    text-align: right;
    color: #fff;
    font-style: italic;
}

.new {
    background-color: white;
    margin: 2.5rem 20%;
}

#nouveau {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.nouvellesMotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    border: 1px solid black;
    border-radius: 1rem;
    padding: .5rem;
}

.nouvelleMoto {
    padding: 1rem 2.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0 1rem;
    transition: all .2s;
}

.marqueNv {
    text-align: center;
    font-size: 20px
}

.modeleNv {
    text-align: center;
    text-decoration: underline;
    font-size: 17px;
    margin-bottom: .5rem;
}

.ccNv {
    text-align: right;
}

.anneeNv {
    text-align: right;
    font-style: italic;
}

.nouvelleMoto:hover, .ancienneMoto:hover {
    transform: scale(1.04);
    transition: transform .2s;
}

.permisSect {
    margin: 0 20% 2rem 20%;
    padding-top: 2.5rem;
    border-top: 1px solid gray;
}

#permis {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.flexPermis {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.permis {
    padding: 1rem;
    flex-basis: 25%;
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 0 .5rem;
}

.risquesMoto {
    padding: 2rem 25%;
    background-color: black;
    color: #fff;
}

#risques {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.top {
    position: absolute;
    margin-top: -5rem;
    margin-left: 92%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    
    .histoireMoto {
        margin: 2.5rem 10%;
    }

    .new {
        margin: 2.5rem 10%;
    }

    .permisSect {
        margin: 2.5rem 10%;
    }

    .risquesMoto {
        padding: 2rem 10%;
    }

}

@media screen and (max-width: 50rem) {

    .title {
        flex-basis: 30%;
    }

    .navBar {
        flex-basis: 70%;
    }

    .titreAccueil {
        font-size: 2.5rem;
    }

    #ancien, #nouveau {
        margin-bottom: 1.5rem;
    }

    .ancienneMotos {
        flex-direction: column;
        padding: 0 20%;
    }

    .nouvellesMotos {
        flex-direction: column;
    }

    .nouvelleMoto {
        margin: .5rem 0;
    }

    .flexPermis {
        flex-direction: column;
    }

    .permis {
        margin-bottom: 1rem;
    }

    .top {
        display: none;
    }

}

@media screen and (max-width: 30rem) {

    .title {
        flex-basis: 100%;
        text-align: center;
    }

    .navBar {
        display: none;
    }

    .titreAccueil {
        font-size: 2.2rem;
    }

    .ancienneMotos {
        padding: 2.5rem 15%;
    }

}